<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <h1>About us</h1>
</head>
<body>
    <h1>NO, <%= id %>!</h1>
</body>
</html>